html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212; /* very dark gray */
  color: #f0f0f0; /* light text */
}

/* Top navigation Bar CSS */
.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* .navbar-brand:hover {
  color: #f539ff; 
  text-shadow: 0 0 8px rgb(255, 255, 255);
} */

.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  font-weight: bold;
  color: #ffd814; 
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgb(255, 255, 255); 
  text-shadow: 0 0 9px rgb(255, 219, 13); 
}

.navbar-brand {
  color: #00d0ff; /* neon pink */
  text-shadow: 0 0 10px #09daff9f;
}
/* End */



/* About section CSS */
#intro-section {
  background-color: #1a1a1a;
  box-shadow: 0 -1px 10px #39ff14;
}


#intro-section h2 {
  font-family: 'Inter', sans-serif;
  color: #0de82a;
  text-shadow: 0 0 5px #39ff14;
}

#intro-section p {
  font-family: 'Inter', sans-serif; 
  font-size: 1.1rem;
  line-height: 1.7;
  color: #dddddd;
  letter-spacing: 0.5px;
  text-align: justify;
  text-justify: inter-word;
}

.dp-img {
  margin-left: 20px;
  width: 330px;
  padding: 18px; 
  border: 3px dashed #27a92f;
}

.about-section {
  position: relative; 
  background: radial-gradient(circle, rgba(22, 84, 254, 0.365), transparent 75%);
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden; 
}

.about-section::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.55); 
  z-index: 0;
}
/* end */



/* Bg image */
.bg-wrapper {
  position: relative;
  background-image: url("media/wallpaper1.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: 0;
}

.bg-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* adjust opacity here */
  z-index: 1;
}

.bg-wrapper > section {
  position: relative;
  z-index: 2; /*content stays above the overlay */
}
/* End */


/* Project Titile */
.section-title {
  /* padding-top: 60px; */
  padding-bottom: 15px;
}

.title-word {
  font-family: 'Inter', sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffd814;
  text-shadow: 0 0 10px #ff7c309b;
}

.title-word::first-letter {
  display: inline-block;
  font-size: 2.0rem;
  /* font-weight: 700; */
  color: #ffffff !important;
}

.symbol-hash {
  color: #ffffff; 
  font-family: 'Courier New', monospace; 
  font-weight: bold;
  font-size: 2.2rem;
  /* margin-right: 10px; */
}


/* Project cards */
.card img {
  /* width: 80%;
  height: 60%; */
  /* width: 340px;
  height: 380px; */
  width: 90%;
  align-items: center;
  display: block;
  margin: 20px auto 10px auto;
  border-radius: 10px;
}

.card {
  width: 100%;
  max-width: 320px;
  min-width: 200px;
  height: auto;
  /* margin: 0 10px;    Space between cards  */
  /* max-width: 350px; */
  background-color: #1a1a1a; 
  border: 2px solid #14a5ff; 
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(20, 149, 255, 0.3); /* neon glow */
  color: #dddddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(7px);
  background-color: rgba(26, 26, 26, 0.5); /* 0.5 transparent bg */
}

.card:hover {
  /* transform: translateY(-5px); */ /* card hover lisft effect*/
  box-shadow: 0 0 20px rgba(20, 173, 255, 0.8);
  z-index: 2;
}

.card .card-title {
  color: #0de82af5;
  font-weight: 600;
  text-shadow: 0 0 2px #37ff14de;
}

.card .card-text {
  font-size: 0.95rem;
  color: #cccccc;
  font-family: 'Inter', sans-serif;
  text-align: justify;

}

.card .btn-primary {
  background-color: #37ff14d9;
  border: none;
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card .btn-primary:hover {
  background-color: #ffffff;
  color: #1a1a1a;
}

.project-sections .container {  /* container width effects swiper area */
  max-width: 70%;
  padding: 60px 0; 
  /* max-height: 50%;  */
  padding-bottom: 80px 0;
  /* padding-top: 40px; */
}


/* Project section Slider */

.swiper {
  position: relative;
  padding: 0 !important;
  margin: 0 auto; /* centers swiper wrapper itself */
  max-width: 90%;
}

.swiper-slide {
  width: auto; /* or a fixed %, like 80% */
  display: flex;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  /* padding-top: 20px;
  padding-bottom: 80px; */
  /* padding: 20px; */
  /* padding-bottom: 100px; */
  /* padding-left: 10px; */
  /* margin: 20px; */
}

.swiper-wrapper {
  align-items: center;
}

.swiper-button-next {
  right: 130px !important; /* move right arrow position */
}

.swiper-button-prev {
  left: 100px !important; /* move left arrow position */
}

/* End */


/* Skills Section */
/* .section-title_skills{
  padding-bottom: 40px 0;
} */

.skills-sections{
  padding: 60px 0;
}

.category-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.skill-card {
  width: 100px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.05); /* subtle translucent */
  border: 1px solid rgba(114, 187, 255, 0.91); /* soft border */
  backdrop-filter: blur(6px);  /* frosted glass effect */

  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 0 15px rgba(12, 253, 249, 0.3); /* glowing shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  /* glow & jump up on hover  */
  /* transform: translateY(-5px); 
  box-shadow: 0 8px 25px rgba(24, 228, 255, 0.685); */

  /* glow & popup on hover */
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(12, 253, 249, 0.45); 
}

.skill-card img {
  width: 80px;
  /* height: 80px; */
  object-fit: contain;
  /* margin-bottom: 10px; */
  margin: 10px 0;
}
